In [3]:
salaries = {
	'python': { 'junior': '100k', 'senior': '600k' },
	'php': { 'junior': '70k', 'senior': '400k' },
	'java': { 'junior': '80k', 'senior': '500k' },
	}

In [5]:
salaries['php']['senior']

'400k'

In [8]:
salaries.items()

dict_items([('python', {'junior': '100k', 'senior': '600k'}), ('php', {'junior': '70k', 'senior': '400k'}), ('java', {'junior': '80k', 'senior': '500k'})])

In [11]:
d = {'Luke': 1994, 'Boba': 1989, 'Kyle': 1998, 'Hann': 1993}
print(d['Boba':'Kyle'])

TypeError: unhashable type: 'slice'

Dictionary and Tuples - Exercise
Create a list of your friends' names and now create a list of tuples. The tuple should contain the friend’s name and the length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)
You and your wife argued about expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer. He suggested that both of you add an entry in a dictionary next time you spend money. So that you can have a clear picture of your expenses and plan to reduce them. Both dictionaries are as below-
Your expenses -

Clothes - 1100
Shoes - 1000
Watch - 900
Mobile Recharge - 699
Petrol - 1980
Your Wife’s expenses -

Mobile Recharge - 799
DTH recharge - 999
Clothes - 2310
Makeup - 3670
Shoes - 999
Find out the total expenses for each of you.
Find out who spending more
Find out which thing you and your wife spending more
Solution: Click on the Download Files button (top right) to download the solution. To open this file in jupyter notebook,
(1) Open a command prompt
(2) In the command prompt, go to a directory where the file is downloaded
(3) Run python -m notebook to launch a jupyter notebook. In the jupyter notebook you will be able to see the solution file

In [ ]:
friends=['Sam','Kiran','Ravi','Rohan','Jai']
friends
#learning

['Sam', 'Kiran', 'Ravi', 'Rohan', 'Jai']

In [15]:
friends_len=[('Sam',3),('Kiran',5),('Ravi',4),('Rohan',5),('Jai',3)]
friends_len

[('Sam', 3), ('Kiran', 5), ('Ravi', 4), ('Rohan', 5), ('Jai', 3)]

In [20]:
Husband={
'Clothes':1100,
'Shoes':1000,
'Watch':900,
'Mobile Recharge':699,
'Petrol':1980}
Husband

{'Clothes': 1100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980}

In [21]:
Wife={
'Mobile Recharge':799,
'DTH recharge':999,
'Clothes':2310,
'Makeup':3670,
'Shoes':999}
Wife

{'Mobile Recharge': 799,
 'DTH recharge': 999,
 'Clothes': 2310,
 'Makeup': 3670,
 'Shoes': 999}

In [24]:
Husband={
'Clothes':1100,
'Shoes':1000,
'Watch':900,
'Mobile Recharge':699,
'Petrol':1980}
sum=0
for key in Husband:
    sum+=Husband[key]
print(sum)

5679

In [ ]:
Wife={
'Mobile Recharge':799,
'DTH recharge':999,
'Clothes':2310,
'Makeup':3670,
'Shoes':999}
total=0
for key in Wife:
    total+=Wife[key]
print(total)
#find new

8777

In [1]:
Husband={
'Clothes':1100,
'Shoes':1000,
'Watch':900,
'Mobile Recharge':699,
'Petrol':1980}
Wife={
'Mobile Recharge':799,
'DTH recharge':999,
'Clothes':2310,
'Makeup':3670,
'Shoes':999}

total_husband = sum(Husband.values())

total_wife = sum(Wife.values())

if total_husband > total_wife:
    print("Husband spent more")
elif total_husband < total_wife:
      print("Wife spent more")
elif total_husband == total_wife:
      print("both spent equally")

Wife spent more

In [7]:
Husband={
'Clothes':1100,
'Shoes':1000,
'Watch':900,
'Mobile Recharge':699,
'Petrol':1980}
high_spend=max(Husband.values())
low_spend=min(Husband.values())
count=sum(1 for amount in Husband.values() if 500 <= amount <= 1000)
print(high_spend,low_spend,count)

1980 699 3

TypeError: 'int' object is not callable