In [205]:
x=int(input("enter first number n1:"))
y=int(input("enter second number n2:"))
def add(n1,n2):
        return n1+n2
sum=add(n1,n2)
a= lambda x,y:x+y
b=a(x,y)
print(b)

enter first number n1: 9
enter second number n2: 8

17

In [3]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [240]:
#print the last value in the dictionary
student={'ajay':10000,'raj':12000,'vijay':14000}
key_s=list(student.keys()) 
valu_e=list(student.values()) 
print(key_s)
print(valu_e)
print(key_s[-1],":",valu_e[-1])
print(key_s[-1],":",student[key_s[-1]])
#print(keys_list[-1]

['ajay', 'raj', 'vijay']
[10000, 12000, 14000]
vijay : 14000
vijay : 14000

In [17]:
#list--->string
#using join method - can be used to create sting on sets,lists,dictionary and tuple
list1=['a','b','c']
string=':'.join(list1)
print(string)

a:b:c

In [19]:
#list ---> string
#using join method - atoms in list must be string, otherwise error
l=['p','y','t','h','o','n']
x=''.join(l)
print(x)

python

In [25]:
#join method on set
lang={'java','python','c++'}
lang1='--->'.join(lang)
print(lang1)
print(id(lang1))
print(id(lang))
#lang and lang1 have different ids-- that means different objects

python--->c++--->java
2149220221680
2149219367648

In [29]:
#join method on dictionary
country={'india':20,'nepal':12,'england':18}
print('country:'.join(country))

indiacountry:nepalcountry:england

In [33]:
#split method to break string into list
msg="i want to become python programmer"
words=msg.split()
print(len(words))
print(words)

6
['i', 'want', 'to', 'become', 'python', 'programmer']

In [45]:
countries="india,pakistan,australia,burma,srilanka"
country=countries.split(",")
country1=countries.split(",",3)
print(len(country))
print(country)
for country in country:
    print(country)
print(country1)

5
['india', 'pakistan', 'australia', 'burma', 'srilanka']
india
pakistan
australia
burma
srilanka
['india', 'pakistan', 'australia', 'burma,srilanka']

In [51]:
#write a program to reverse internal content of each word in a sentence
str1="python is easy"
l1=[]
#output -nohtyp si ysae"
x=str1.split() #split method to break sentence into word
for word in x:   #refers each word
    l1.append(word[::-1]) #reverse the word
z=" ".join(l1)
print(z)

nohtyp si ysae

In [46]:
#write a program to print duplicates present in the list
l=["hello",10,10,20,20,30,40,50,60,60,60]
l1=[]
for x in l:
    if l.count(x)>1 and x not in l1:
        l1.append(x)
print(l1)

[10, 20, 60]

In [79]:
l=["hello",10,10,20,20,30,40,50,60,60,60]
d=[]
for x in range(len(l)):
    for y in range(x+1,len(l)):
        if l(x)==l(y) and l(x) not in d:
            d.append(l[x])
print(d)

TypeError: 'list' object is not callable

In [85]:
lis=[10,20,30]
print(isinstance(lis,list))

True

In [2]:
#write a python program to count number of items having list as values
data={'jay':['male',23,20000],'raj':25,'vicky':['male',22],'ram':['male',23]}
count=0
x=list(data.values())
for each in x:
    if isinstance(x[each],list):
        count+=1
print(count)

TypeError: list indices must be integers or slices, not list

In [17]:
#list--->string
#using join method
list1=['a','b','c']
string=':'.join(list1)
print(string)

a:b:c

In [105]:
#number of vowels in my name
name =input("Enter my name")
count=0
vowels=['a','e','i','o','u']
for x in name:
    if x in vowels:
        count+=1
print(count)

Enter my name siddiq

2

In [107]:
#reverse string using while loop
name=input("enter string")
r_name=""
count=len(name)
while count>0:
    r_name=r_name+name[count-1]
    count=count-1
print(r_name)

enter string siddiq

qiddis

In [109]:
#reverse string by for loop
name=input("enter string")
r_name=""
for char in name:
    r_name=char+r_name
print(r_name)

enter string siddiq

qiddis

In [113]:
#reverse string using slicing
name=input("enter name")
print(name)
r_name=""
for char in name:
    r_name=name[::-1]
print(r_name)

enter name siddiq

siddiq
qiddis

In [139]:
#voting project
candidate_01=input("candidatename1")
candidate_02=input("candidatename2")
cand1_votes=0
cand2_votes=0
voters_id=[101,102,103,104,105,106]
no_of_voters=len(voters_id)
print("number of voters:",no_of_voters)
voted=[]
while True:
    if voters_id==[]:
        print("voting is over")
        if cand1_votes>cand2_votes:
            print(f"{candidate_01} won the election with {cand1_votes}")
        elif cand1_votes<cand2_votes:
            print(f"{candidate_02} won the election with {cand2_votes}")
        elif cand1_votes==cand2_votes:
            print("tied!!!")
        break

    
    else:
        voter=int(input("enter your id"))
        if voter in voted:
            print("you already voted")
        else:
            if voter in voters_id:
                print(f"1.{candidate_01}\n2.{candidate_02}")
                choice=int(input("enter your choice"))
                if choice==1:
                    cand1_votes+=1
                    print(f"you voted {candidate_01}")
                elif choice==2:
                    cand2_votes+=1
                    print(f"you voted {candidate_02}")
                voters_id.remove(voter)
                voted.append(voter)
            else:
                 print("you are not allowed to vote")

candidatename1 ravi
candidatename2 sye

number of voters: 6

enter your id 101

1.ravi
2.sye

enter your choice 1

you voted ravi

enter your id 102

1.ravi
2.sye

enter your choice 109
enter your id 1

you are not allowed to vote

enter your id 103

1.ravi
2.sye

enter your choice 104
enter your id 2

you are not allowed to vote

enter your id 1

you are not allowed to vote

enter your id 105

1.ravi
2.sye

enter your choice 2

you voted sye

enter your id 106

1.ravi
2.sye

enter your choice 1

you voted ravi

enter your id 103

you already voted

enter your id 2

you are not allowed to vote

enter your id 101

you already voted

enter your id 1

you are not allowed to vote

enter your id u

ValueError: invalid literal for int() with base 10: 'u'

In [147]:
class myclass:
    pass
ob1=myclass()
print(ob1)
ob2=myclass()
print(ob2)

<__main__.myclass object at 0x000001F465518230>
<__main__.myclass object at 0x000001F467A82960>

In [169]:
class Test():
    def display(self):
        print('This is a class method')
t1=Test()
t1=display()
print(t1)

None

In [165]:
class Student:
    def_init_(self,id,name):
    self.id=id
    self.name=name
    
s1=sample()

SyntaxError: invalid syntax (2419385388.py, line 2)

In [171]:
x=10
print(x)

10

In [177]:
#swap the variables:method1
a=10
b=20
temp=a
a=b
b=temp
print(a)
print(b)

20
10

In [ ]:
#swap the variables:method2
a=10
b=20
a,b=b,a
print(a)
print(b)

In [242]:
#print the last value in the dictionary
student={'ajay':10000,'raj':12000,'vijay':14000}
x=list(student.keys())
y=list(student.values())
print(x)
print(y[-1])

['ajay', 'raj', 'vijay']
14000

In [ ]:
print(key_s[-1],":",valu_e[-1])

In [ ]:
print(key_s[-1],":",student[key_s[-1]])

In [252]:
#list--->string
#using join method - can be used to create sting on sets,lists,dictionary and tuple
list1=['1','2','3']
x=''.join(list1)
print(x)

123

In [ ]:
'''A lambda function in Python is a small, anonymous function that can be used to evaluate a single expression once. Lambda functions are often used as arguments in higher-order functions like map(), filter(), or reduce(). 
Here are some examples of lambda functions:
Add 10 to argument a: x = lambda a : a + 10
Multiply argument a with argument b: x = lambda a, b : a * b
Summarize argument a, b, and c: x = lambda a, b, c : a + b + c 
The syntax for a lambda function is lambda arguments : expression. The expression is executed and the result is returned. 
A lambda function in Python is a small, anonymous function that can be used to evaluate a single expression once. Lambda functions are often used as arguments in higher-order functions like map(), filter(), or reduce(). 
Here are some examples of lambda functions:
Add 10 to argument a: x = lambda a : a + 10
Multiply argument a with argument b: x = lambda a, b : a * b
Summarize argument a, b, and c: x = lambda a, b, c : a + b + c 
The syntax for a lambda function is lambda arguments : expression. The expression is executed and the result is returned. ''''

In [264]:
#squaring numbers in list using lanbda function:
numbers={1,2,3}
y=list(map(lambda x : x*x, numbers))
print(y)

[1, 4, 9]

In [273]:
'''The filter() function in Python takes in a function and an iterable (lists, tuples, and strings) as arguments.

The function is called with all the items in the list, and a new list is returned, which contains items for which the function evaluates to True.

Let's see an example,'''

# program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list =list(filter(lambda x: x%2!=0,my_list))

print(new_list)

# Output: [4, 6, 8, 12]

[1, 5, 11, 3]

In [271]:
''''he map() function in Python takes in a function and an iterable (lists, tuples, and strings) as arguments.

The function is called with all the items in the list, and a new list is returned, which contains items returned by that function for each item.

Let's see an example,''''

# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
x=list(map(lambda x: x+x,my_list))
print(x)

[2, 10, 8, 12, 16, 22, 6, 24]

In [287]:
#split method to break string into list
msg="i want to become python programmer"
x=msg.split()
z=x[2:5]
print(x)
print(z)

['i', 'want', 'to', 'become', 'python', 'programmer']
['to', 'become', 'python']

In [3]:
print(83%10)
print(9768%10)
print(174%10)
print(96/10)
print(1/10)
print(9840/10)

3
8
4
9.6
0.1
984.0

In [ ]:
#https://leetcode.com/problems/reverse-integer/description/
#actual solution:
class Solution:
    def reverse(self, x: int) -> int:
        mini, maxi = -2**31, 2**31 - 1  
        
        if x >= 0:
            out = int(str(x)[::-1])
        else:
            out = int('-' + str(x)[:0:-1])
        
        if out < mini or out > maxi:
            return 0
        
        return out
#while conditions
def reverse_number(number):
    reverse = 0
    while number > 0:
        digit = number % 10
        reverse = reverse * 10 + digit
        number //= 10
    return reverse

# Example usage
num = 1234
reversed_num = reverse_number(num)
print(f"Original Number: {num}")
print(f"Reversed Number: {reversed_num}")

#reverse function
def reverse_number(number):
    return int(str(number)[::-1])

# Example usage
num = 1234
print("Reversed Number:", reverse_number(num))


def reverse_number(number):
    reverse = 0
    while number > 0:
        digit = number % 10
        reverse = reverse * 10 + digit
        number //= 10
    return reverse

# Example usage
num = 1234
reversed_num = reverse_number(num)
print(f"Original Number: {num}")
print(f"Reversed Number: {reversed_num}")

#using recursion
def reverse_number(number):
    if number == 0:
        return 0
    else:
        return (number % 10) * 10 ** (len(str(number)) - 1) + reverse_number(number // 10)

# Example usage
num = 1234
print("Reversed Number:", reverse_number(num))

In [ ]:
#what are palindrome numbers
A palindromic number (also known as a numeral palindrome or a numeric palindrome) is a number (such as 16461) that remains the same when its digits are reversed. In other words, it has reflectional symmetry across a vertical axis. The term palindromic is derived from palindrome, which refers to a word (such as rotor or racecar) whose spelling is unchanged when its letters are reversed. The first 30 palindromic numbers (in decimal) are:
example:121 is palindrome
01131110 is not a palindrome 
0120 is not a palindrome

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, ... (sequence A002113 in the OEIS).
Palindromic numbers receive most attention in the realm of recreational mathematics. A typical problem asks for numbers that possess a certain property and are palindromic. For instance:

The palindromic primes are 2, 3, 5, 7, 11, 101, 131, 151, ... (sequence A002385 in the OEIS).
The palindromic square numbers are 0, 1, 4, 9, 121, 484, 676, 10201, 12321, ... (sequence A002779 in the OEIS).
It is obvious that in any base there are infinitely many palindromic numbers, since in any base the infinite sequence of numbers written (in that base) as 101, 1001, 10001, 100001, etc. consists solely of palindromic numbers

In [ ]:

#https://leetcode.com/problems/palindrome-number/
class Solution:
    def isPalindrome(self, x: int) -> bool:
        if x < 0:
            return False

        reverse = 0
        xcopy = x

        while x > 0:
            reverse = (reverse * 10) + (x % 10)
            x //= 10
        
        return reverse == xcopy

In [17]:
class Car:

    def __init__(self,make,model,year,color):
        self.make=None
        self.model=None
        self.year=None
        self.color=None
    def drive(self):
        print("this car is driving")
    def stop(self):
        print("this car is stopped")

None
None
None
None

In [21]:
from Car
car_1=Car("Chevy","corvette","2021","blue")
print(car_1.make)
print(car_1.model)
print(car_1.year)
print(car_1.color)

SyntaxError: invalid syntax (3405636830.py, line 1)

In [37]:
class A:
    def __init__(self):
        age=10
        print(age)
obj=A()
obj2=A()

10
10

In [47]:
class A:
    "Learn Coding..."
    age=10
    print(age)
obj=A()
print(obj.age)
print(A.age)
print(obj.__doc__)
print(A.__doc__)

10
10
10
Learn Coding...
Learn Coding...

In [53]:
class A:
    age=10
    def fun(self):
        "Siddiq"
        name="Learn Coding"
        print(name)
obj=A()
obj.fun()
obj.fun()
print(obj.fun.__doc__)
print(A.age)

Learn Coding
Learn Coding
Siddiq
10

In [8]:
a=1

#a+=1

#a+=5
a-=1
print(a)

0

In [55]:
class A:
    def fun(self,age,name,address):
        print(age," ",name," ",address)
obj=A()
obj.fun(10,"Ankit","Jamshedpur")

10   Ankit   Jamshedpur

In [59]:
class A:
    def __init__(self,age,name,address):
        print(age," ",name," ",address)
obj=A(10,"Ankit","Jamshedpur")
obj2=A(20,"Ravi","Hyderabad")
obj=A("Altaf",100,200)

10   Ankit   Jamshedpur
20   Ravi   Hyderabad
Altaf   100   200

In [2]:
def factorial_iterative(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

# Example usage
num = 36
print(f"The factorial of {num} is {factorial_iterative(num)}")

The factorial of 36 is 371993326789901217467999448150835200000000

In [ ]:
for i=1 and i*i<=n:
count+=1
if n%i==0:
    if(i==n/i):
        count+=1
    else
       count+=2

In [6]:
#find the factors of a number:
def print_factors(x):
    for i in range(1,x+1):
        if x%i==0:
            print(i)
x=36
print_factors(x)

1
2
3
4
6
9
12
18
36

In [5]:
def print_factors(x):
    print(f"The factors of {x} are:")
    for i in range(1, x + 1):
        if x % i == 0:
            print(i)

# Example usage
num = 320
print_factors(num)

The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
#find the number is prime or not
def prime_num(x)
if x

In [7]:
#calculating iterations:
a=3
b=7
c=b-a+1
print(c)

5

In [8]:
j=[{"name":"Raghu","age":52,"sex":"M"},{"name":"Bindu","age":55,"sex":"F"}]

In [9]:
len(j)
j[0]

{'name': 'Raghu', 'age': 52, 'sex': 'M'}

In [10]:
j[1]

{'name': 'Bindu', 'age': 55, 'sex': 'F'}

In [11]:
j[0]['name']

'Raghu'

In [12]:
s='jah bjha'
'b' in s

True

In [13]:
"name" in j[0]

True

In [14]:
"name" in j[1]

True

In [15]:
"name" in j

False

In [16]:
j=[{"name":"Raghu","age":52,"sex":"M"},{"name":"Bindu","age":55,"sex":"F"},"name"]
print(j)
j.remove("name")
print(j)

[{'name': 'Raghu', 'age': 52, 'sex': 'M'}, {'name': 'Bindu', 'age': 55, 'sex': 'F'}, 'name']
[{'name': 'Raghu', 'age': 52, 'sex': 'M'}, {'name': 'Bindu', 'age': 55, 'sex': 'F'}]

In [17]:
del j[1]["name"]
print(j)

[{'name': 'Raghu', 'age': 52, 'sex': 'M'}, {'age': 55, 'sex': 'F'}]

In [22]:
#add two list
#moethod1
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.extend(l2)
print(l1)
#method2-list comprehension
x=[z for z in l1 if z not in l2]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4]

In [24]:
#adding elements to dictionary
dict1={"name":"Jasleem"}
dict1["name"]="Jasleem"
dict1.update({"money":100000})
dict1["money"]
dict1.get("name")
dict1.get("no of cars")
print(no_of_car)

NameError: name 'no_of_car' is not defined

In [30]:
#print the number is armstrong or not
x=27
dig=str(x)
i=len(dig)
#for each in y:
#sumofpowers= sum(int(x) ** i for x in dig) 
sumofpowers = 
if sumofpowers==dig:
   print(f"{dig} is Armstrong number")
else:
   print(f"{dig} is not an Armstrong number")

27 is not an Armstrong number

In [33]:
# print Armstrong number between 1 to 1000
for i in range(1,1001):
    power=len(str(i))
    sum1=0
    digit=str(i)
    for each in digit:
        sum1=sum1+int(each)**power
    if sum1==int(i):
        print(sum1)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [ ]:
#while loop using armstrong or not
x=366
i=len(str(x))
sum1=0
while (x!=0):
     digit=i%10
     sum1=sum1+ int(each)**i
     x=x//10
if sum1==x:
    print(f"{x} is not an Armstong number")
else:
    print(f"{x} is an Armstong number")

In [ ]:
#while loop using armstrong or not
for x in range(1,1001):
    num=x
    n=len(str(x))
    sum1=0
    while (x!=0):
       digit=x%10
       sum1=sum1+ digit**n
       x=x//10
    if sum1==num:
       print(num)

In [ ]:
s="Hello world"
print(s[::-2])

In [7]:
#if conditions:
a=55
b=56
if a is b:
    print(f"{a} is greater than {b}")
elif a==b:
    print(f"{a} is equal to {b}")
else:
    print(f"{a} is not greater than {b}")

55 is not greater than 56

In [ ]:
Truthy value:
    "a",all numbers, non empty lists,tuples,strings,dict,sets
Falsy value:
    False,empty strings,lists,tuples,sets,none,0

In [9]:
#nested if conditions
a=5
if a%2==1:
    if a>2:
        print(a)
    else:
        print("I dont want his number")
else:
    print("even number")

5

In [11]:
#print number is even or odd
a=int(input("Enter the number"))
if a%2==0:
      print(f"{a} is even")
if a%2!=0:
      print(f"{a} is odd")

Enter the number 5

5 is odd

In [ ]:
#print number is even or odd
a=int(input("Enter the number"))
print(f"{a} is Even") if a%==0 else (f"{a} is odd")
#docstring we dont use semicolon in if or else conditions in syntaxes

In [12]:
#While loops##
ord("A")

65

In [13]:
a=65
while a<91:
    print(chr(a))
    a+=1

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
[

In [ ]:
a=1
while a<=10:
  print(f"2*{a}={2*a}")
  a+=1

In [ ]:
#continue
a=1
while a<11:
    if a==3 or a==5:
        a+=1
        continue
    print(a, "Odd" if a%2 else "Even")
    a+=1

In [ ]:
## for loop
a=2
for x in range(1,11):
    print(f"{a}*{x}={2*a}")

In [ ]:
# Multiplication table of 2
num = 2

# Iterate 10 times from 1 to 10
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

In [1]:
#function -any number of arguments can be defined in function
def func_name(args):
    return str(args)

In [2]:
func_name({"d":2})

"{'d': 2}"

In [3]:
val=func_name({"d":2})

In [4]:
type(val)

str

In [5]:
val

"{'d': 2}"

In [6]:
val[1]

"'"

In [10]:
def summation(val1, val2, val3, val4):
    return val1 + val2 + val3 + val4

In [11]:
summation(1, 2, 3, 4)

10

In [ ]:
#arbitary argument
def summation(val1, val2, val3, val4, *args):
    return val1 + val2 + val3 + val4

In [12]:
def print_val(*args):
    print(args)
    print(type(args))

In [13]:
print_val(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [16]:
def print_val(*args):
    sumn=0
    for i in args:
        sumn+=i
    return sumn

In [17]:
print_val(1, 2, 3, 4, 5)

15

In [21]:
def print_val(*args):
    sumn=0
    listofnonintegers=[]
    for i in args:
        if isinstance(i, int):
           sumn+=i
        else:
            listofnonintegers.append(i)
    return sumn, listofnonintegers

In [19]:
print_val(5, 6, 7, "8", "-", 20)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [24]:
l = [5, 5, 2, 2, "l", "k", "l", "a", "a", "a", "k", 9]
a = list(set(l))
count=0
for i in range(l):
    If i in l:
       count[i]=1
    else:
       count[i]+=1
return count
print(count)

SyntaxError: invalid syntax (2669434647.py, line 5)

In [ ]:
def iterator(lis):
    for e in range(len(lis)):
        return lis[e]

l=input("Enter list elements:").split()
x=iterator(l)
print(x)

NameError: name 'iterator' is not defined

In [26]:
#keyword argument **kwargs
def nameplate(**value):
    print(value)
    print(type(value))

In [27]:
nameplate(name="Raghu", Citizenship="Indian", Company="Amazon")

{'name': 'Raghu', 'Citizenship': 'Indian', 'Company': 'Amazon'}
<class 'dict'>

In [30]:
def nameplate(**value):
    if value.get("name"):
        return f"Name= {value["name"]}"
    else:
        return value

SyntaxError: f-string: unmatched '[' (520758637.py, line 3)

In [7]:
class A:
    c_a=5
    def __init__(self):
        self.val=0
        print("Hey I am called")

    def incr_val(self, val):
        self.val += val
        
    def get_val(self):
        return self.val

In [2]:
a = A()

Hey I am called

In [3]:
a.get_val()

0

In [5]:
a.incr_val(5)

In [6]:
a.get_val()

5

In [8]:
a.c_a

AttributeError: 'A' object has no attribute 'c_a'

In [9]:
class Employee:
    def __inti__(self, name, age):
        self.__name = name
        self.__age = age
    def get_name(self):
        return self.__name
    def change_name(self,name):
        self._name=name
    def get_age(self):
        return self.__age

In [10]:
e1= Employee("Raja", 26)

TypeError: Employee() takes no arguments

In [2]:
class Car:
    def __init__(self,wheel):
        self.wheel = wheel
        self.color = "red"
    def change_color(self, color):
        self.color = color
    def get_color(self):
        print(id(self))
        return self.color

car1=Car(5)

In [3]:
car1.get_color()

2657315169296

'red'

In [4]:
class Car:
    make = "tata"
    def __init__(self,wheel):
        self.wheel = wheel
        self.color = "red"
    def change_color(self, color):
        self.color = color
    def get_color(self):
        print(id(self))
        return self.color

car1=Car(5)
car2= Car(4)
car3= Car(2)

In [5]:
car2.make

'tata'

In [6]:
car1.wheel

5

In [ ]:
class Car:
    make= "tata"
    def __init__(self,wheel):
        self.wheel = wheel
        self.color = "red"
    def change_color(self, color):
        self.color = color
    def get_color(self):
        print(id(self))
        return self.color
    # class methods can be acccessed via object references
    @classmethod
    def change_make(cls, make = "tata"):
        cls.make = make
    @classmethod
    def get_make(cls):
        return cls.make

car1=Car(5)

In [11]:
car1.make
car1.make ="kunal"

In [12]:
car1.change_make("Maruti")

AttributeError: 'Car' object has no attribute 'change_make'

In [21]:
class Person:
    def __init__(self, firstname, age, phno):
        self.firstname = ""
        self.age= ""
        self.phno = ""
    def set_first_name(self, name):
        self.name = name
        
    def set_age(self,age):
        self.age= age
        
    def set_phn_no(self, phn):
        self.phno= phn
    
    def printname(self):
        print(self.firstname)
class Student(Person):
    pass

In [22]:
s1= Student()

TypeError: Person.__init__() missing 3 required positional arguments: 'firstname', 'age', and 'phno'

In [23]:
s1= Student("Ram", 23, 9145678393)

In [25]:
s1.__dict__

{'firstname': '', 'age': '', 'phno': ''}

In [ ]:
#whatif parent and child both have same method and when we create

In [ ]:
class Employee:
    def __init__(self, fname, empid):
        self.fname = fname
        self.empid = empid

In [27]:
class Person:
    def __init__(self, firstname, age, phno):
        print("Hey i am constructor of person")
        self.firstname = ""
        self.age= ""
        self.phno = ""
    def set_first_name(self, name):
        self.name = name
        
    def set_age(self,age):
        self.age= age
        
    def set_phn_no(self, phn):
        self.phno= phn
    
    def printname(self):
        print(self.firstname)
class Student(Person):
    def __init__(self):
        print("Hey I am init of student")

In [28]:
s1= Student()

Hey I am init of student

In [30]:
s1.firstname

AttributeError: 'Student' object has no attribute 'firstname'

In [31]:
class Person:
    def __init__(self, firstname, age, phno):
        print("Hey i am constructor of person")
        self.firstname = ""
        self.age= ""
        self.phno = ""
    def set_first_name(self, name):
        self.name = name
        
    def set_age(self,age):
        self.age= age
        
    def set_phn_no(self, phn):
        self.phno= phn
    
    def printname(self):
        print(self.firstname)
class Student(Person):
    def __init__(self, fname, age, phno):
        print("Hey I am init of student")
        super().__init__(fname, age, phno)

s1= Student("Jaspal", 26, 9876348332)

Hey I am init of student
Hey i am constructor of person

In [34]:
class Person:
    def __init__(self, firstname, age, phno):
        print("Hey i am constructor of person")
        self.firstname = ""
        self.age= ""
        self.phno = ""
    def set_first_name(self, name):
        self.name = name
        
    def set_age(self,age):
        self.age= age
        
    def set_phn_no(self, phn):
        self.phno= phn
    
    def printname(self):
        print(f"{self.firstname} from parent")
        
class Student(Person):
    def __init__(self, stid,fname, age, phno):
        print("Hey I am init of student")
        super().__init__(fname, age, phno)
        self.studentid = stid
        self.courses = []
    def enroll_courses(self, course):
        self.courses.append(course)

    def printname(self):
        print(f"{self.studentid}, {self.firstname}")
        super(). printname()

s1= Student(1234, "Jaspal", 26, 9876348332)

Hey I am init of student
Hey i am constructor of person

In [ ]:
#single inheritence
A-->B
#multilevel 
A-->B-->C
#hierarchial
       A
       |
/   /  | \ \
B  C   D E  F


#multiple
A B
| |
---
 |
 C
    
#hybrid
   A
   |
--------
|       |
B       C
|       |
---------
    |
    C

In [37]:
#multilevel inheritence
class A:
    def __init__(self):
        print("I am A")
    def date(self):
        print("12/28/2024")
class B(A):
    def __init__(self):
        print("I am B")
        super().__init__()
class C(B):
    def __init__(self):
        print("I am C")
        super().__init__()

In [38]:
c=C()

I am C
I am B
I am A

In [40]:
help(c) #method resolution order

Help on C in module __main__ object:

class C(B)
 |  Method resolution order:
 |      C
 |      B
 |      A
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from A:
 |
 |  date(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from A:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [41]:
class A:
    def __init__(self):
        print("I am A")
class B:
    def __init__(self):
        print("I am B")
class C(A, B):
    pass

c1=C()

I am A

In [43]:
class A:
    def __init__(self):
        print("I am A")
class B:
    def __init__(self):
        print("I am B")
        super().__init__()
class C(B, A):
    pass

c1=C()

I am B
I am A

In [44]:
help(c1)

Help on C in module __main__ object:

class C(B, A)
 |  Method resolution order:
 |      C
 |      B
 |      A
 |      builtins.object
 |
 |  Methods inherited from B:
 |
 |  __init__(self)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from B:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [ ]:
#file handling

In [9]:
# find the root of the square number
#x=int(input("Enter the number"))
def skrt(x):
    return x**0.5
skrt(5)

2.23606797749979

In [16]:
class Solution:

    def mysqr(self, x):
        start = 1
        end = x
        result = 0
        while start <= end:
            mid = start + end - start
            if mid * mid == x:
                result = mid
                return result
            if mid * mid > x:
                end = mid - 1
            else:
                result = mid
                start = mid + 1
        return result

In [17]:
s1=Solution()

In [19]:
s1.mysqr(8)

2

In [20]:
Solution.mysqr(8)

TypeError: Solution.mysqr() missing 1 required positional argument: 'x'

In [62]:
class A:
    def method1(self):
        self.attrib1=25
        self.__pvt_att=self.attrib1 * 2
        print("I am public method")
        return self._pvt_method()
    def __pvt_method(self):
        print("I am private method")
        return self.__pvt_att

In [64]:
a1=A()

In [65]:
a1.method1()

I am public method

AttributeError: 'A' object has no attribute '_pvt_method'

In [67]:
a1.__pvt_method()

AttributeError: 'A' object has no attribute '__pvt_method'

In [68]:
a1.method1()

I am public method

AttributeError: 'A' object has no attribute '_pvt_method'

In [ ]:
#file handling
# operations we can perfrom on a file
reading
writing
updating
deleting

In [ ]:
open(filename, mode)
modes:
"r" - read mode
"a" - append mode
"w" - write mode
"x" - create mode

In [76]:
#read mode
#default value
#It opens the file for reading. It throws filenotfound error if file does not exists.
#file pointer is at the beggening of the file
fp = open("learning.txt","r")
print(fp.read())

Learning strategies
1) wake up early
2) revise the formulaes
3) get fresh
4) ear breakfast
5) study maths

In [71]:
fp.read()

''

In [72]:
fp.close()

In [74]:
#seek(to moves the pointer to location) and tell(tells us the location of the pointer)

ValueError: I/O operation on closed file.

In [77]:
fp.read()

''

In [78]:
print(fp.tell())

106

In [79]:
fp.seek(1)

1

In [80]:
fp.read()

'earning strategies\n1) wake up early\n2) revise the formulaes\n3) get fresh\n4) ear breakfast\n5) study maths\n'

In [81]:
fp.readline()

''

In [82]:
fp.seek(0)

0

In [83]:
fp.readlines()

['Learning strategies\n',
 '1) wake up early\n',
 '2) revise the formulaes\n',
 '3) get fresh\n',
 '4) ear breakfast\n',
 '5) study maths\n']

In [84]:
fp.tell()

106

In [85]:
fp.close

In [86]:
with open("learning.txt") as fp:
    lines = fp.readlines()
for i in lines:
    if ":" not in i:
        print(i)

Learning strategies

1) wake up early

2) revise the formulaes

3) get fresh

4) ear breakfast

5) study maths

In [93]:
fp = open("learning.txt")
for i in range(10):
    line=fp.readline()
    if "breakfast" in line:
        print("found")
        fp.close
    else:
        print(line.upper())

LEARNING STRATEGIES

1) WAKE UP EARLY

2) REVISE THE FORMULAES

3) GET FRESH

found
5) STUDY MATHS

In [94]:
fp.open("learning.txt")
lines = fp.readlines()
lines.append("\n" + "Hey I am written from python script")
fp.writelines(lines)
fp.close()

AttributeError: '_io.TextIOWrapper' object has no attribute 'open'

In [ ]:
# "w" mode:
#opens a file for writing and truncates the existing data
# the fp is at the start of the file
#if file does not exists it create new file

In [95]:
with open("advanced_learning.txt","w") as fp:
    fp.write("Watch netflix")

In [97]:
fp = open("advanced_learning.txt","w")

In [98]:
fp.writelines(lines)

In [99]:
fp.close()

In [101]:
#a --> append mode:
# opens the file in append mode
# file pointer is at the end of the file
# creates a new file if the file is not present

fp= open("advanced_learning.txt", "a")
lines = []
lines.append("8) Have some entertainement")
lines.append("9) cook foold")
print(lines)

['8) Have some entertainement', '9) cook foold']

In [ ]:
#advance mode
1) r+ mode
a) opens the file for read and write operation
b) it gives filenotfound error if file is not present
c) file pointer is at the begining of file
2) w+ mode
a) open the file for read and write operations
b) opening with this mode truncates the existing data of the file
c) creates a new file if the file does not exists
d) file pointer at the beginning of the file
3) a+ mode
a) opens the file for read and write operations
b) file pointer is at the end of the file
c) creates a new file if file is not present.

In [ ]:
#capstone movie booking system